.catalogue {
  &-item {
    display: block;

    padding: 2rem 0;

    color: $default-color;
    border-bottom: 1px solid $grey-2;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    letter-spacing: .5px;

    color: $default-tint;

    font-family: $sans-serif;
    font-size: 0.8rem;
  }

  &-title {
    display: block;

    margin: .5rem 0;

    color: $default-shade;

    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }

  &-line {
    display: block;

    width: 2rem;

    border-top: .3rem solid $default-tint;

    @include transition(all .3s ease-out);
  }
}
