.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

main,
footer,
.nav-container {
  display: block;

  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.nav {
  overflow: auto;

  box-shadow: 0 2px 2px -2px $shadow-color;

  &-container {
    position: relative;

    margin: 1rem auto;

    text-align: center;
  }

  &-title {
    display: inline-block;

    margin: 0;
    padding-right: .2rem;

    color: $default-shade;

    @include transition(all .2s ease-out);

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    margin: 1rem 0 0;
    padding: 0;

    list-style-type: none;

    text-align: center;
  }

  li {
    display: inline-block;

    padding: 0 2rem 0 0;

    opacity: .6;
    color: $default-color;

    @include transition(all .2s ease-out);

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;

    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

footer {
  padding: 2rem 0;

  text-align: center;

  font-family: $sans-serif;

  span {
    color: $default-color;

    font-size: .8rem;
  }
}
