.pagination {
  position: relative;

  padding-top: 2rem;

  text-align: center;

  border-top: .5px solid $grey-2;

  font-family: $sans-serif;

  span {
    color: $default-shade;

    font-size: 1.1rem;
  }

  .top {
    opacity: .6;
    color: $default-color;

    font-family: $sans-serif;
    font-size: 1.1rem;

    @include transition(all .3s ease-out);

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    position: absolute;

    color: $default-color;

    @include transition(all .3s ease-out);

    &:hover,
    &:focus {
      text-decoration: none;

      opacity: .6;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
